<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% title || 'Rootkey' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <script src="[% uri_for('/static/js/jquery-1.10.0.min.js') %]"></script>
    <link href="[% uri_for('/static/bootstrap/css/bootstrap.css') %]" rel="stylesheet" type="text/css" />
    <script src="[% uri_for('/static/bootstrap/js/bootstrap.js') %]"></script>
    <script src="[% uri_for('/static/js/es5-shim.min.js') %]"></script>
    <script src="[% uri_for('/static/js/micro_template.js') %]"></script>
    <script src="[% uri_for('/static/js/strftime.js') %]"></script>
    <script src="[% uri_for('/static/js/sprintf-0.7-beta1.js') %]"></script>
    <script src="[% uri_for('/static/js/micro-location.js') %]"></script>
    <script src="[% uri_for('/static/js/micro_dispatcher.js') %]"></script>
    <link href="[% static_file('/static/css/main.css') %]" rel="stylesheet" type="text/css" media="screen" />
    <script src="[% static_file('/static/js/main.js') %]"></script>
    --!>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>ROOtKEY</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <style type="text/css">
        html{height:100%}
        body{height:100%; margin:0; padding:0}
        #map_canvas{height:100%}
    </style>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC6MyJJ0JoQDbBqTunjCiTrXeClAn7uqJM&sensor=false"></script>

    <script type="text/javascript">
        function initialize(){
            var myhome = new google.maps.LatLng(34.836068,135.530077);
            console.log(myhome);
            var mapOptions = {
                    center    : myhome,
                    zoom      : 12,
                    mapTypeId : google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),mapOptions);
            console.log(map);
            //マーカーの設置
            var marker = new google.maps.Marker({
                position : myhome,
                map      : map,
                title    :"Hello World!!"
            });
            console.log(marker);
/*
            //情報ウィンドウ（吹き出し）の設置
            var contentString =
                '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h2 id="firstHeading" class="firstHeading">ここはどこ？</h2>'+
                    '<div id="bodyContent">'+
                        '<p>ここはどこなのでしょうか？</p>'+
                        '<p>URL: <a href="http://www.gaiax.co.jp/jp/">http://www.gaiax.co.jp/jp/</a></p>'+
                    '</div>'+
                '</div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 500
            });
            google.maps.event.addListener(marker,'click',function(){
                infowindow.open(map,marker);
            });

            //円の描写
            var circleOptions = {
                strokeColor   : "#FF0000",
                strokeOpacity : 0.8,
                strokeWeight  : 2,
                fillColor     : "#FF0000",
                fillOpacity   : 0.35,
                map           : map,
                center        : myhome,
                radius        : 5000,
            };
            new google.maps.Circle(circleOptions);
        };
*/

        //読み込んだ後に地図を描写する
        //google.maps.event.addDomListener(window,'load',initialize);
        };
    </script>

</head>

<body[% IF bodyID %] id="[% bodyID %]"[% END %] onload="initialize()">
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Rootkey</a>
                <a class="navbar-brand" href="/">テスト</a>
                <div class="nav-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
            </div><!-- /.navbar-inner -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->
    <div class="container">
        <div id="main">

            <h1 style="padding: 70px; text-align: center; font-size: 80px; line-height: 1; letter-spacing: -2px;">ROOtKEY</h1>

            <hr />

            <div style="text-align:center">
                <form method="get" action=[% uri_for('/get') %]>
                    <p>出発地：<input type="text" id="origin" name="origin" size="40" maxlength="40"></p>
                    <p>to</p>
                    <p>目的地：<input type="text" id="destination" name="destination" size="40" maxlength="255"></p>
                    <p>経由地：<input type="text" id="waypoint" name="waypoint" size="30" maxlength="255"></p>
                    <p>検索ワード：<input type="text" id="keyword" name="keyword" size="40" maxlength="255"></p>
                    <p>
                    <select name="mode">
                        <option value="driving">車</option>
                        <option value="bicycling">自転車</option>
                        <option value="walking">徒歩</option>
                    </select>
                    <select name="radius">
                        <option value="500">500m</option>
                        <option value="1000">1km</option>
                        <option value="2000">2km</option>
                        <option value="5000">5km</option>
                        <option value="10000">10km</option>
                    </select>
                    </p>
                    <input type="submit" value="検索">
                </form>
            </div>
            <div id="map_canvas" style="width:80%; height:80%"></div>

         </div>
         <footer class="footer">
            Powered by <a href="http://amon.64p.org/">Amon2</a>
         </footer>
    </div>
</body>
</html>
